// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}